<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Dampferstube.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - My ASP.NET Application</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="Content/Menü.css" rel="stylesheet" />
</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>
        <div class="main">
            <div class="header">
            </div>
            <div class="menu">
                <link href="Content/Menü.css" rel="stylesheet" />
                <ul class="menu"> <!--/*max 8 submenus */-->
    <li><a href="/home.aspx">Home</a></li>
                    

    <li><a href="#s1">Rezeptbuch</a>
        <ul class="submenu">
            <li><a href="#">Top 10</a></li>
            <li><a href="#">Marc</a></li>
            <li><a href="#">Marvin</a></li>
            <li><a href="#">Miguel</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Submenu</a></li>
            <li><a href="#">Submenu</a></li>
            <li><a href="#">Submenu</a></li>
        </ul>
    </li>
    <li class="active"><a href="#s2">Bewertung</a>
        <ul class="submenu">
            <li><a href="#">Liquid</a></li>
            <li><a href="hardware.aspx">Hardware</a></li>
            <li><a href="#">Store</a></li>
            <li><a href="#">Distributor</a></li>
            <li><a href="#">Submenu</a></li>
            <li><a href="#">Submenu</a></li>
            <li><a href="#">Submenu</a></li>
            <li><a href="#">Submenu</a></li>
        </ul>
    </li>
    <li><a href="#">Bestand</a>
        <ul class="submenu">
            <li><a href="#">Mischungen</a></li>
            <li><a href="#">Basis</a></li>
            <li><a href="/Public/Aromen.aspx">Aromen</a></li>
            <li><a href="#">Rechner</a></li>
            <li><a href="#">Submenu</a></li>
            <li><a href="#">Submenu</a></li>
            <li><a href="#">Submenu</a></li>
            <li><a href="#">Submenu</a></li>
        </ul>
    </li>
    <li><a href="#">Wunschliste</a>
        <ul class="submenu">
            <li><a href="#">Marc</a></li>
            <li><a href="#">Marvin</a></li>
            <li><a href="#">Miguel</a></li>
            <li><a href="#">Sammelbestellung</a></li>
        </ul>
    </li>
        </ul>
         
            </div>
            <div class="container body-content">
                <asp:ContentPlaceHolder ID="MainContent" runat="server"> <!--Wichtig! -->
                </asp:ContentPlaceHolder>
                <hr />
                <footer>
                     <p>&copy; <%: DateTime.Now.Year %> - My ASP.NET Application</p>
                </footer>
             </div>

        </div>
    </form>
    <div class="dampf_links">
    </div>
    <div class="dampf_rechts">
    </div>
</body>
</html>
